@import "tailwindcss";

:root {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-wexford {
  background: linear-gradient(90deg, #4b0082 10%, #ffd700);
  background-clip: text;
  color: transparent;
}

.bg-wexford {
  background: linear-gradient(90deg, #4b0082 10%, #ffd700);
}
